@import url("https://fonts.googleapis.com/css2?family=Aboreto&display=swap");
@font-face {
  font-family: "akatab";
  src: url("Akatab.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  line-height: 1.6;
  background-color: rgba(245, 241, 240);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Aboreto", sans-serif;
}

p {
  font-family: "akatab", sans-serif;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

/* Header */
header {
  position: fixed;
  font-family: "akatab", sans-serif;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 3rem;
  background-color: #110f10;
  z-index: 1000;
}

.logo {
  max-width: 5rem;
  border-radius: 50%;
  margin-right: 5rem;
}

.nav-list {
  list-style-type: none;
  display: flex;
  gap: 2rem;
}

.nav-list li a {
  text-decoration: none;
  color: #f5f1f0;
}

.abrir-menu,
.cerrar-menu {
  display: none;
}

/* Banner Inicio */
.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("/img/img-fondos/fondo01.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  padding: 0 20px;
}

.banner-content {
  padding: 20px;
  border-radius: 10px;
}

.banner h1 {
  text-align: start;
  font-size: 3.9em;
  margin: 0 0 20px;
}

.banner p {
  font-family: "akatab", sans-serif;
  text-align: start;
  font-size: 2.4em;
  margin: 0 0 20px;
}

.cta-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #cef196; /* Color del botón */
  color: #110f10;
  text-decoration: none;
  font-family: "akatab", sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  border-radius: 7px;
  transition: background-color 0.3s;
}

.cta-button:hover {
  background-color: #b1ee4e;
  transform: scale(1.05);
}

/* Nosotros */
.nosotros {
  background-color: #f9f9f9;
  padding: 80px 20px;
}

.nosotros .container {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 80px; /* Espacio entre el texto y la imagen */
}

.nosotros .image,
.nosotros .text {
  flex: 1; /* Ocupan el mismo espacio */
}

.nosotros .image img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.nosotros .text {
  padding: 60px 20px;
  border-radius: 20px;
}

.nosotros .text h2 {
  color: #333;
  font-size: 28px;
  margin-bottom: 20px;
}

.nosotros .text p {
  color: #555;
  font-size: 16px;
  line-height: 1.5;
}

.btn-cta2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}

/* Estilos para las tarjetas */
/* .card-content {
  padding: 50px 20px;
  background-color: #110f10; 
  text-align: center;
}

.card-content h2 {
  font-size: 2.5em;
  margin-bottom: 30px;
  color: #f5f1f0; 
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.card-item {
  background-color: #ffffff; 
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 5px;
  width: 100%;
  max-width: 300px;
  text-align: center;
  transition: all 0.3s;
}

.card-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.card-item img {
  width: 100%; 
  height: auto;
  border-radius: 5px;
  margin-bottom: 15px;
}

.card-item h3 {
  font-size: 1.8em;
  margin-bottom: 15px;
  color: #333; 
}

.card-item p {
  font-size: 1em;
  color: #555; 
  line-height: 1.6;
} */

/* Servicios Section */
.services-section {
  background-color: #110f10;
  padding: 2rem;
  max-width: 900px;
  margin: 0 auto;
}

.service-card {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  gap: 2rem;
}

.service-text {
  flex: 1;
  padding-right: 1rem;
}

.service-text h2 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  color: #333;
  font-weight: bold;
  position: relative;
}

.service-text h2::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 50%;
  height: 4px;
  background-color: #cef196;
  border-radius: 2px;
}

.service-text p {
  background-color: #f0f4f8;
  border-left: 4px solid #cef196;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.service-image {
  flex: 0 0 auto;
  max-width: 300px;
}

.service-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service-image img:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.cta-container {
  text-align: center;
  margin-top: 2rem;
}

.cta-button {
  background-color: #cef196;
  color: #110f10;
  padding: 0.75rem 1.5rem;
  text-decoration: none;
  border-radius: 0.25rem;
  font-size: 1.6rem;
}

.cta-button:hover {
  background-color: #b1ee4e;
}

/* Funcionalidades Section */
.features-section {
  padding: 60px 20px;
  background-color: #f9f9f9;
}

.features-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.features-container h2 {
  font-size: 2.5rem;
  color: #110f10;
  margin-bottom: 40px;
  font-weight: bold;
}

.features-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.feature-box {
  background: #ffffff;
  border: 2px solid #e0e0e0;
  border-radius: 15px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  padding: 30px;
  width: 300px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
}

.feature-box:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  border-color: #cef196;
}

.feature-icon {
  font-size: 3rem;
  margin-bottom: 20px;
  color: #cef196;
}

.feature-box h3 {
  font-size: 1.8rem;
  color: #110f10;
  margin-bottom: 15px;
}

.feature-box p {
  font-size: 1rem;
  color: #555;
  line-height: 1.6;
}

/* Estilos generales para la sección de contacto */
.contacto {
  background-color: #f9f9f9;
  padding: 80px 20px;
}

.contacto .container {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}

.contact-content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.contact-form {
  flex: 1;
  min-width: 300px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.contact-text {
  flex: 1;
  min-width: 300px;
  background-color: #cef196;
  border-radius: 10px;
  padding: 20px;
}

.contact-text h2 {
  font-size: 2em;
  margin-bottom: 20px;
  color: #333;
}

.contact-form h2 {
  font-size: 2em;
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}

.contact-text p {
  color: #555;
  font-size: 16px;
  line-height: 1.5;
}

.form-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form-group label {
  font-family: "akatab", sans-serif;
  display: block;
  font-size: 1.2em;
  color: #555;
  margin-bottom: 8px;
}

input[type="text"],
input[type="email"],
input[type="number"],
textarea {
  width: 100%;
  padding: 10px;
  font-size: 1.2em;
  border: 1px solid #ccc;
  border-radius: 4px;
}

textarea {
  height: 100px;
}

button[type="submit"] {
  align-self: center;
  display: inline-block;
  background-color: #cef196;
  color: #333;
  font-size: 1.2em;
  font-weight: 500;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button[type="submit"]:hover {
  background-color: #b1ee4e;
}

.social-icons-c a {
  display: inline-block;
  margin: 10px 10px;
  font-size: 1.5em;
  color: #110f10;
  transition: color 0.3s;
}

/* Footer */
.footer {
  background-color: #333;
  color: #fff;
  padding: 70px 0;
  text-align: center;
}

.footer-content {
  max-width: 800px;
  margin: 0 auto;
}

.footer p {
  font-size: 1em;
  margin-bottom: 10px;
}

.social-icons {
  margin-top: 20px;
}

.social-icons a {
  display: inline-block;
  margin: 0 10px;
  font-size: 1.5em;
  color: #cef196;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #cef196; /* Color de hover */
}

@media (max-width: 768px) {
  .container {
    width: 100%;
    padding: 0 10px;
  }
  .abrir-menu,
  .cerrar-menu {
    display: block;
    border: 0;
    font-size: 1.25rem;
    background-color: transparent;
    cursor: pointer;
  }

  .abrir-menu {
    color: #ececec;
  }

  .cerrar-menu {
    color: #ececec;
  }

  header {
    position: fixed;
    padding: 25px;
    gap: 6rem;
  }

  .nav {
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 1;
    padding: 2rem;
    background-color: #110f10;
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.2);
  }

  .nav.visible {
    opacity: 1;
    visibility: visible;
  }

  .nav .nav-list {
    flex-direction: column;
    align-items: end;
  }

  .nav-list li a {
    color: #f5f1f0;
  }

  .banner h1 {
    font-size: 2.5em;
  }

  .banner p {
    font-size: 1em;
  }

  .nosotros {
    padding: 40px 10px;
  }

  .nosotros .container {
    flex-direction: column;
    gap: 40px;
  }

  .nosotros .vm-text {
    display: none;
  }

  .nosotros .text h2 {
    font-size: 28px;
  }

  .nosotros .text p {
    font-size: 16px;
  }

  .nosotros .image img {
    display: none;
  }

  .card-item p {
    display: none;
  }

  .contact-content {
    flex-direction: column;
  }

  .contact-form,
  .contact-text {
    margin-bottom: 20px;
  }
}
