@import url("https://fonts.googleapis.com/css2?family=Aboreto&display=swap");
@font-face {
  font-family: "akatab";
  src: url("Akatab.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: none;
}

body {
  overflow-x: hidden;
  line-height: 1.6;
  background-color: rgba(245, 241, 240);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Aboreto", sans-serif;
}

p {
  font-family: "akatab", sans-serif;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

/* Header */
header {
  position: fixed;
  font-family: "akatab", sans-serif;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: rgba(0, 0, 0, 0.9);
  transition: background 0.3s ease;
  z-index: 1000;
}

.logo {
  max-width: 4rem;
  border-radius: 50%;
  /* margin-right: 1rem; */
}

.nav-list {
  list-style-type: none;
  display: flex;
  gap: 1rem;
  cursor: pointer;
}

.nav-list li a {
  padding: 0.3rem 0.6rem;
  margin: 0 auto;
  text-decoration: none;
  color: #fff;
  font-size: 1.1rem;
  font-family: "akatab", sans-serif;
}

.abrir-menu,
.cerrar-menu {
  display: none;
}

.social-icons-nav a {
  display: inline-block;
  margin: 0 10px;
  font-size: 1.2em;
  color: #cef196;
  transition: color 0.3s;
}

/* Banner Inicio */
.banner {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.1)
    ),
    url("/img/img-unqui/fondo01.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000;
  color: white;
  padding: 0 20px;
}

.banner-content {
  max-width: 900px;
  padding: 20px;
  text-align: left; /* Asegura que el contenido del banner esté alineado a la izquierda */
}

.banner h1 {
  text-align: left; /* Alinea el título a la izquierda */
  font-size: 5rem;
  margin: 0 0 20px;
}

.banner p {
  font-family: "akatab", sans-serif;
  text-align: left; /* Alinea el párrafo a la izquierda */
  font-size: 2.2rem;
  margin: 0 0 20px;
}

.cta-container {
  text-align: center; /* Alinea el botón al centro */
  margin-top: 2rem;
}

.cta-button {
  text-align: center;
  display: inline-block;
  padding: 15px 30px;
  background-color: #cef196;
  color: #110f10;
  text-decoration: none;
  font-family: "akatab", sans-serif;
  font-size: 3rem;
  font-weight: 500;
  border-radius: 7px;
  transition: background-color 0.3s, transform 0.3s;
}

.cta-button:hover {
  background-color: #b1ee4e;
  transform: scale(1.05);
}

/* Nosotros */
.nosotros {
  transition: background-color 0.3s ease;
  background-color: #000;
  padding: 40px 20px;
}

.nosotros .container {
  height: 60vh;
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  border-top: 1px solid #cef196;
}

.nosotros .text h2 {
  color: #f9f9f9;
  font-size: 5rem;
  margin-bottom: 20px;
}

.nosotros .text p {
  font-size: 1.5rem;
  color: #fff;
  line-height: 1.6;
}

/* Servicios Section */
.services-section {
  background-color: #110f10;
  padding: 4rem 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 2rem;
  justify-content: center;
  align-items: start;
  overflow: hidden;
}

.service-card {
  background-color: #f0f4f8;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
  max-width: 90%;
}

.service-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
}

.service-text h2 {
  color: #333;
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.service-text p {
  background-color: #fff;
  border-left: 4px solid #cef196;
  padding: 1.2rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #666;
  font-size: 1rem;
}

.service-image img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 20%;
  margin-bottom: 1rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service-image img:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.cta-container {
  grid-column: 1 / -1;
  text-align: center;
  margin-top: 2rem;
}

.cta-button {
  background-color: #cef196;
  color: #110f10;
  padding: 1rem 2rem;
  text-decoration: none;
  border-radius: 0.5rem;
  font-size: 1.4rem;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #b1ee4e;
}

/* Funcionalidades Section */
.features-section {
  padding: 4rem 2rem;
  background-color: #000;
  /* background-color: #f9f9f9; */
  display: flex;
  justify-content: center;
}

.features-container {
  max-width: 1100px;
  width: 100%;
}

.features-container h2 {
  font-size: 2.5rem;
  color: #110f10;
  text-align: center;
  margin-bottom: 4rem;
  font-weight: bold;
}

/* Feature Rows */
.feature-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4rem;
  gap: 3rem;
  transition: transform 0.3s ease;
}

.feature-row.reverse {
  flex-direction: row-reverse;
}

.feature-row:hover {
  transform: translateY(-10px);
}

/* Feature Image */
.feature-image {
  flex: 1;
  max-width: 50%;
}

.feature-image img {
  width: 100%;
  height: auto;
  border-radius: 18px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.feature-image img:hover {
  transform: scale(1.05);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

/* Feature Text */
.feature-text {
  flex: 1;
  max-width: 45%;
  padding: 2rem;
}

.feature-text h3 {
  font-size: 2.2rem;
  color: #110f10;
  margin-bottom: 1rem;
}

.feature-text p {
  font-size: 1.5rem;
  color: #fff;
  line-height: 1.6;
}

/* contacto */
.contacto {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
  background-color: #000;
  padding: 80px 20px;
  border-top: 1px solid #cef196;
}

.contacto .container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.contact-text {
  text-align: center;
  background-color: #cef196;
  border-radius: 10px;
  padding: 40px 20px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.contact-text .t1 {
  text-align: start;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: #333;
}

.contact-text h2 {
  text-align: start;
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
}

.contact-text p {
  color: #555;
  font-size: 1.2rem;
  line-height: 1.5;
}

.cta-container {
  margin-top: 20px;
}

.cta-button {
  background-color: #cef196;
  color: #333;
  padding: 1rem 2rem;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1.2rem;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #b1ee4e;
}

/* Footer */
.footer {
  background-color: #ececec;
  color: #110f10;
  padding: 40px 20px;
  text-align: center;
}

.footer-content {
  max-width: 800px;
  margin: 0 auto;
}

.footer p {
  font-size: 1rem;
  margin-bottom: 10px;
}

.social-icons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.social-icons a {
  font-size: 1.8rem;
  color: #110f10;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #b1ee4e; /* Color de hover */
}

@media (max-width: 768px) {
  .container {
    width: 100%;
    padding: 0 10px;
  }
  .abrir-menu,
  .cerrar-menu {
    display: block;
    border: 0;
    font-size: 1.25rem;
    background-color: transparent;
    cursor: pointer;
  }

  .abrir-menu {
    color: #ececec;
  }

  .cerrar-menu {
    color: #ececec;
  }

  header {
    position: fixed;
    padding: 0.7rem 2rem;
    gap: 6rem;
  }

  .nav {
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 1;
    padding: 2rem;
    background-color: #110f10;
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.2);
  }

  .nav.visible {
    opacity: 1;
    visibility: visible;
  }

  .nav .nav-list {
    flex-direction: column;
    align-items: end;
  }

  .nav-list li a {
    color: #f5f1f0;
  }

  .banner h1 {
    font-size: 2.5rem;
  }

  .banner p {
    font-size: 1.5rem;
  }

  .cta-button {
    font-size: 1.2rem;
    padding: 10px 20px;
  }

  /* Seccion Nosotros */
  .nosotros .container {
    flex-direction: column; /* Coloca el texto e imagen en columnas */
    height: auto; /* Ajusta la altura automáticamente */
    gap: 20px; /* Reduce el espacio entre elementos */
  }

  .nosotros .image {
    display: none; /* Oculta la imagen en pantallas pequeñas */
  }

  .nosotros .vm-text {
    display: none; /* Oculta el texto con la clase vm-text en pantallas pequeñas */
  }

  .nosotros .text h2 {
    font-size: 24px; /* Ajusta el tamaño del título */
  }

  .nosotros .text p {
    font-size: 14px; /* Ajusta el tamaño del texto */
  }

  /* Servicios */
  .service-card {
    flex-direction: column; /* Coloca la imagen debajo del texto */
    gap: 1rem; /* Reduce el espacio entre elementos */
    padding: 1.5rem; /* Reduce el padding en pantallas más pequeñas */
  }

  .service-text {
    padding-right: 0; /* Quita el padding lateral */
    text-align: center; /* Centra el texto */
  }

  .service-text h2 {
    font-size: 1.8rem; /* Ajusta el tamaño del título */
  }

  .service-text p {
    font-size: 1rem; /* Reduce el tamaño del texto */
    padding: 0.75rem; /* Reduce el padding del párrafo */
  }

  .service-image {
    max-width: 100%; /* Asegura que la imagen ocupe todo el ancho disponible */
  }

  .cta-button {
    font-size: 1.2rem; /* Ajusta el tamaño del botón de llamada a la acción */
  }

  /* Seccion Funcionalidades */
  .features-section {
    padding: 1rem; /* Reduce el padding en pantallas más pequeñas */
  }

  .features-container h2 {
    font-size: 2rem; /* Reduce el tamaño del título */
    margin-bottom: 20px; /* Reduce el espacio debajo del título */
  }

  .features-grid {
    flex-direction: column; /* Organiza las características en columna */
    gap: 20px; /* Reduce el espacio entre los elementos */
  }

  .feature-box {
    width: 100%; /* Asegura que las cajas ocupen el 100% del ancho disponible */
    padding: 20px; /* Reduce el padding dentro de las cajas */
  }

  .feature-box h3 {
    font-size: 1.5rem; /* Reduce el tamaño del subtítulo */
  }

  .feature-box p {
    font-size: 0.9rem; /* Ajusta el tamaño del texto */
  }

  .feature-icon {
    font-size: 2.5rem; /* Ajusta el tamaño del ícono */
    margin-bottom: 15px; /* Reduce el espacio debajo del ícono */
  }

  /* seccion Contacto */
  .contacto {
    padding: 60px 10px; /* Reduce el padding en pantallas pequeñas */
  }

  .contacto .container {
    max-width: 100%; /* Asegura que ocupe el ancho completo */
  }

  .contact-text {
    padding: 20px; /* Reduce el padding */
    font-size: 1rem;
  }

  .contact-text h2 {
    font-size: 1.8em; /* Ajusta el tamaño del título */
  }

  .contact-text .t1 {
    font-size: 1.2rem; /* Reduce el tamaño del subtítulo */
  }

  .contact-text p {
    font-size: 14px; /* Reduce el tamaño del párrafo */
  }

  .cta-button {
    font-size: 1rem; /* Ajusta el tamaño del botón */
    padding: 0.8rem 1.5rem; /* Reduce el padding del botón */
  }

  /* Footer */
  .footer-content {
    padding: 0 20px;
  }

  .footer p {
    font-size: 0.9rem;
  }

  .social-icons {
    flex-direction: row;
    gap: 10px;
  }

  .social-icons a {
    font-size: 1.5rem;
  }
}
